Classificador Automático de E-mails.json
{
  "name": "Classificador Automático de E-mails",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "Subject, From, internalDate, snippet",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        16,
        -80
      ],
      "id": "841fdbd0-93ef-41bd-91bf-78728399df8f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -192,
        -80
      ],
      "id": "d7dc000f-15fa-4613-ad82-17ce4093b931",
      "name": "Get many messages",
      "webhookId": "539fc1fd-07a1-404e-acd7-e3aa80d5fb0a",
      "credentials": {
        "gmailOAuth2": {
          "id": "ElJSRtDDd3JTBGat",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -80
      ],
      "id": "3ad96867-d27a-42cd-9e65-63b5dfdd237b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um assistente especializado em análise, classificação e organização de e-mails, com foco em clareza, priorização e padronização de informações.\n\nSua tarefa é analisar os e-mails recebidos e gerar uma resposta estruturada, utilizando APENAS os dados fornecidos.\n\n---\n\n## 📥 Dados de Entrada\nVocê receberá até 5 e-mails recentes, cada um contendo:\n- Subject (assunto)\n- From (remetente)\n- snippet (prévia do conteúdo)\n\n⚠️ Importante:\n- Você NÃO terá acesso ao corpo completo do e-mail\n- Utilize SOMENTE as informações explícitas no snippet\n- Não invente dados\n\n---\n\n## 🎯 Objetivo\nGerar uma resposta estruturada no formato de objeto, contendo os dados principais de cada e-mail e um resumo geral ao final.\n\n---\n\n## 🧩 Regras de Classificação\n\n### 📌 Categoria\nClassifique cada e-mail em UMA categoria, com base no assunto, remetente e snippet:\n\n- **Segurança** → alertas de acesso, permissões, atividades suspeitas  \n- **Conta / Login** → cadastro, redefinição de senha, confirmações  \n- **Trabalho** → mensagens profissionais, reuniões, processos seletivos  \n- **Financeiro** → cobranças, faturas, pagamentos, bancos  \n- **Estudo** → cursos, aulas, certificações, universidades  \n- **Promoção** → ofertas, marketing, newsletters comerciais  \n- **Pessoal** → mensagens informais  \n- **Notificação** → avisos automáticos sem urgência  \n- **Spam** → conteúdo irrelevante ou suspeito  \n\n---\n\n### 🚦 Prioridade\nDefina a prioridade com base no impacto e urgência:\n\n- 🔴 **Alta**  \n  Use quando envolver:\n  - Segurança da conta\n  - Acesso não autorizado\n  - Risco ou ação imediata\n\n- 🟡 **Média**  \n  Use quando:\n  - O e-mail for importante, mas não urgente\n  - Requer atenção futura\n\n- 🟢 **Baixa**  \n  Use quando:\n  - Não houver urgência\n  - For apenas informativo, educacional ou promocional\n\n---\n\n## ✍️ Resumo e Ação\n- O **Resumo** deve ter no máximo 30 palavras\n- A **Ação sugerida** só deve existir se estiver clara no snippet\n- Caso contrário, descreva a ação de forma objetiva ou informe que não há urgência\n\n---\n\n## 📤 Estrutura de Saída (OBRIGATÓRIA)\n\nRetorne a resposta EXATAMENTE no seguinte formato de objeto:\n\n{\n  \"text\": \"E-mail 1\",\n  \"**Assunto:**\": \"\",\n  \"**Remetente:**\": \"\",\n  \"**Categoria:**\": \"\",\n  \"**Prioridade:**\": \"\",\n  \"**Resumo:**\": \"\",\n  \"**Ação sugerida:**\": \"\",\n  \"**Resumo Geral**\": \"Total de e-mails analisados: X\\n - E-mails de alta prioridade: X\\n - E-mails por categoria: descrição\\n - Ações sugeridas: X\"\n}\n\n⚠️ Regras finais:\n- Não use Markdown fora dos campos indicados\n- Não altere os nomes das chaves\n- Não retorne explicações adicionais\n- Retorne apenas o objeto final\n\nEsses são os dados dos emails:\n{{ $json.Subject.toJsonString() }}, {{ $json.From.toJsonString() }}, {{ $json.snippet.toJsonString() }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        192,
        -80
      ],
      "id": "132164b6-5a62-4396-a5c3-2b6da351a3cc",
      "name": "Message a model",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "jWNj98TPsuYX5K80",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Proteção: garante que a IA respondeu corretamente\nif (\n  !$json.content ||\n  !$json.content.parts ||\n  !$json.content.parts[0] ||\n  !$json.content.parts[0].text\n) {\n  return {};\n}\n\n// Texto retornado pela IA\nconst rawText = $json.content.parts[0].text;\n\n// Remove ```json ```\nconst cleanText = rawText.replace(/```json|```/g, \"\").trim();\n\n// Converte para objeto\nlet data;\ntry {\n  data = JSON.parse(cleanText);\n} catch (e) {\n  return {};\n}\n\n// Retorna UMA linha para o Google Sheets\nreturn {\n  Assunto: data[\"**Assunto:**\"] || \"\",\n  Remetente: data[\"**Remetente:**\"] || \"\",\n  Categoria: data[\"**Categoria:**\"] || \"\",\n  Prioridade: data[\"**Prioridade:**\"] || \"\",\n  Resumo: data[\"**Resumo:**\"] || \"\",\n  Acao: data[\"**Ação sugerida:**\"] || \"\",\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -80
      ],
      "id": "2070945a-05a6-425b-97c5-281487ecb01e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kfJQYLqH3sSAYyM1v38nM0r7DY_4RKXzZ8u4R6_ogyE",
          "mode": "list",
          "cachedResultName": "Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kfJQYLqH3sSAYyM1v38nM0r7DY_4RKXzZ8u4R6_ogyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1kfJQYLqH3sSAYyM1v38nM0r7DY_4RKXzZ8u4R6_ogyE/edit#gid=0",
          "__regex": "https:\\/\\/docs\\.google\\.com\\/spreadsheets\\/d\\/[0-9a-zA-Z\\-_]+.*\\#gid=([0-9]+)"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "Assunto",
              "displayName": "Assunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Remetente",
              "displayName": "Remetente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prioridade",
              "displayName": "Prioridade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resumo",
              "displayName": "Resumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Acao",
              "displayName": "Acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ResumoGeral",
              "displayName": "ResumoGeral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        -80
      ],
      "id": "a15f81a0-8591-4750-a9b7-0dd03b733b49",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kWlvzBSkgyM8IsYv",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "90148b40-e21d-4ca7-9a42-b439b16a8cca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de23e94e107109a5bad754a9d33a3204c2808d344828e9cdbc23b6d37028b485"
  },
  "id": "6NmxfMIIN6H9akFR26mlp",
  "tags": []
}